/*Import Google Font -  font-family: 'Unbounded', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    background: url("../images/face.png") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Unbounded', sans-serif;  
    color: white; 
}

/* Header */
header {
    display: flex;
    flex-direction: column;
} 

/* Main content */
main {

    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;

    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
        text-align: center;
}
