/*Import Google Font -  font-family: 'Fjalla One', sans-serif; font-family: 'Unbounded', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* This CSS follows mobile-first approach by default */
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* background: url("../images/face.png") no-repeat center center/cover;  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Unbounded', sans-serif;
    /*  Global font color  */
    color: rgb(245, 241, 241);
    /* Secondary text color (black) */
    /* color: rgb(23, 15, 15); */
    /* Secondary background color */
    /* background-color: rgb(239, 211, 211); */
}

a {
    text-decoration: none;
    color: rgb(138, 93, 93);
    font-weight: bolder;
    font-size: 115%;
}

i {
    text-align: center;
    padding: 35px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(138, 93, 93);
}

header h1 {
    position: relative;
    z-index: 1;
    padding-right: 55px;
}

#logo {
    position: absolute;
    float: left;
    height: 90px;
    top: 9px;
    right: 7px;
    z-index: 0;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    /* background-color: rgb(239, 211, 211); */
    opacity: .92;
}


section {
    padding: 35px 20px;
}

.gap {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.light-pink {
    background-color: rgb(239, 211, 211);
    color: rgb(23, 15, 15);
}

.brown {
    background-color: rgb(138, 93, 93);
}

.questionnaires {
    font-size: 1.2em;
    text-decoration: underline;
}

.questionnaires:hover {
    transform: scale(1.1);
}

form {
    line-height: 2.3em;
    text-align: center;
    color: rgb(23, 15, 15);
}

form h2 {
    margin: 15px 5px;
}

#ageForm input {
    display: block;
    margin: 20px auto 20px auto;
    min-width: 88px;
    text-align: center;
    padding: 10px 2px 10px 2px;
}

button {
    cursor: pointer;
    display: block;
    width: 135px;
    padding: 18px 30px;
    border: none;
    margin: 15px auto;
    color: rgb(245, 241, 241);
}

button:hover {
    transform: scale(1.1);
}

button i {
    padding: 10px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.black-font {
    color: rgb(23, 15, 15);
}

#userAge {
    display: none;
}

#userAgeFeedback {
    display: none;
    color: rgb(23, 15, 15);
    line-height: 1.7;
    padding-bottom: 40px;
}

.feedback {
    color: rgb(188, 36, 36);
    padding: 15px 0;
    font-weight: 600;
    transform: scale(1.2);
}

.group {
    display: flex;
    justify-content: space-between;
    margin: 20px 9%;
}

form p {
    text-align: center;
}

#score {
    display: none;
    color: rgb(23, 15, 15);
    line-height: 1.7;
    padding-bottom: 40px;
    padding-top: 40px;
}

.opacity1 {
    opacity: 1;
}

.white-bg {
    background-color: rgb(245, 241, 241);
}

#htmlQuestionnaire {
    display: none;
    padding: 35px 10px;
}

#htmlQuestionnaire h1 {
    color: rgb(23, 15, 15);
    margin: 30px 40px;
    font-size: large;
}

#htmlQuestionnaire h2 {
    text-align: center;
    margin: 50px;
}

#htmlQuestionnaire form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#htmlQuestionnaire input {
    margin: auto 0 auto auto;
}

#htmlQuestionnaire input[type="radio"] {
    width: 23px;
    height: 23px;
    cursor: pointer;
    accent-color: rgb(138, 93, 93);
}

#htmlQuestionnaire .buttons {
    display: flex;
    justify-content:space-between;
    max-width: 500px;
}

#homeBtn {
    display: none;
    padding-top: 10px;
}

/* Footer */
footer {
    font-family: 'Fjalla One', sans-serif;
    font-size: .88em;
    text-align: center;
    /* background-color: #ffe6a7; */
    background-color: rgb(232, 179, 179); 
    padding: 30px 15px;
    color: rgb(23, 15, 15);
}

/* Media query: medium size devices (480px and up) */
@media screen and (min-width: 480px) {

    header h1 {
        padding: 40px 60px;
    }

    section {
        padding: 50px 60px;
    }

}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 70px;
    }

    header h1 {
        padding-right: 50px;
        padding-left: 40px;
    }

    #logo {
        height: 140px;
        top: 25px;
        right: 45px;
    }

    /* Main */
    main {
        margin: 0 12vw;
    }

    footer {
        font-size: 1.1em;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Large devices (laptops and desktops, 1280px and up) */
@media screen and (min-width: 1280px) {

    header {
        padding: 70px 120px;
    }

    #logo {
        height: 180px;
        top: 19px;
        right: 150px;
    }

    #htmlQuestionnaire h1 {
        margin: 30px 100px;
    }

}